.container {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(109, 189, 209, 0.315);
  height: 100%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: blue;
}

nav {
  padding: 15px;
  color: black;
  text-align: center;
}

.menu {
  display: flex;
  color: black;
  justify-content: flex-end;
  background-color: gainsboro;
}

.menu li {
  text-transform: uppercase;
  list-style: none;
  margin-left: 20px;
}

.menu li a {
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(109, 189, 209, 0.315);
}

.menu li a:hover {
  color: rgba(109, 189, 209);
  background-color: black;
}

h1 {
  text-align: center;
}

.comment_container {
  padding: 15px;
  display: flex;
  flex-basis: 4;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: gainsboro;
  margin: 25px;
}

.comment_container p.time {
  color: rgba(28, 17, 80, 0.582);
}

.comment_container a {
  color: rgba(255, 0, 0, 0.644);
  text-decoration: none;
}

.functional_container {
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.search {
  padding-right: 50px;
}

.articles {
  padding-left: 50px;
  border: 2px solid white;
}

.articles p.buttons {
  display: flex;
  flex-direction: row;
}

.articles h3 a {
  color: black;
  text-decoration: none;
}
